*{
  margin: 0;
}
.app__header{
  margin :0;
  background-color: black;
}
.title{
  color: white;
  padding: 20px;
  font-weight: 400;
  font-family: cursive;
  cursor: pointer;
  align-items: center;
}
.app__search{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.app__search-input{
  font-size: 1.0rem;
  line-height: 1.0rem;
  border-radius: 15px;
  padding: 0.5rem 0.5rem;
  outline: none;
  align-items: center;
}
.app__search-input:hover{
  outline: none;
  border: 1px solid #000;

}
.app__search-button{
  color:#fff;
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
  cursor:pointer;
  outline: none;
  margin-left: 10px;
  font-family: cursive; 
  outline: none;
}
@media (max-width:550px){
  .app__search{
    flex-direction: column;
  }
  .app__search-button{
    margin-top: 10px;
    padding:10px
  }
}

.card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cardImage{
  max-width: 500px;
}
