.card{
    padding: 10px;
    margin: 40px 10px; 
}
.imageitem__image{
    object-fit: contain;
    width: 100%;
    align-items: center !important;
}
.card:hover{
    box-shadow: 5px 5px 5px 5px rgba(128,128,128,10);
    cursor: pointer;  
}




